<div class="container-sidebar">
  <div class="row">
    <div class="col-1 sidebar">
     <%# <%= render "sared/sidebar" %> 
        <nav class="main-menu-yellow">


        <div class="scrollbar" id="style-1">
          <ul>
            <li class="mt-3">
              <%= link_to profile_path(current_user) do %>
                <i class="fa fa-user fa-lg"></i><span class="nav-text">Check your profile</span></a>
              <% end  %> 
            </li>         

            <li class="mt-4">
              <%= link_to shelters_path do %>
                <i class="fa fa-home fa-lg"></i><span class="nav-text">Find a shelter</span></a>
              <% end  %> 
            </li>

            <li class="mt-3">
              <%= link_to restaurants_path do %>
                <i class="fa fa-utensils fa-lg"></i><span class="nav-text">Find a restaurant</span></a>
              <% end  %> 
            </li>

            <li class="mt-3">
              <%= link_to maps_path do %>
                <i class="fa fa-map-marker-alt fa-lg"></i><span class="nav-text">Real-time map</span></a>
              <% end  %> 
            </li>

            <li class="mt-3">
              <%= link_to documents_path do %>
                <i class="fa fa-passport fa-lg"></i><span class="nav-text">Get your documents</span></a>
              <% end  %> 
            </li>

            <li class="mt-3">
              <%= link_to lawyers_path do %>
                <i class="fa fa-gavel fa-lg"></i><span class="nav-text">Find a lawyer</span></a>
              <% end  %> 
            </li>

            <li class="mt-3">
              <%= link_to root_path do %>
                <i class="fa fa-comments fa-lg"></i><span class="nav-text">Our community</span></a>
              <% end  %> 
            </li>

          </ul>
        </div>
      </nav>
    </div>

    <div class="col-10">
      <h1 class='text-center mt-5'>Shelters</h1>
      <div class="d-flex justify-content-center">

        <div class="card-deck row d-flex">
          <% @shelters.each do |shelter| %>
            <div class="col-sm-12 col-md-6 col-lg-4">
              <div class="card m-3 w-100", style="min-height: 420px;">     
                <%= link_to shelter_path(shelter) do %>
                  <div class='card-img-top' style="height: 200px; background-size: cover; 
                                                  background-repeat: no-repeat; background-image: 
                                                  url('<%= cl_image_path shelter.photo.key, 
                                                  transformation: {crop: "crop", width: 1000, 
                                                  height: 700} %>')">
                  </div>
                <% end %>
                <div class="card-body">
                  <h5 class="card-title"><%= link_to shelter.name, shelter_path(shelter.id) %></h5>
                  <p class="card-text text-justify"><%= "#{shelter.description&.slice(0,80)}..." %>
                  <span><%= link_to "more info", shelter_path(shelter.id) %></span></p>
                  <p class="card-text"><small class="text-muted"> <%= shelter.address %></small></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div> 