<div class="container">
<%# ------------------------- TITLE ----------------------------- %>
  <div class="show-title my-5">
    <h2><%= @shelter.name %><h2>
  </div>
<%# ----------------------- INFO + IMG -------------------------- %>
  <div class="info-show row">
    <div class="description-show col-sm-12 col-lg-6 ">
      <p><%= @shelter.description %></p>
      <p><%= @shelter.opening_hours %></p>
      <p><%= @shelter.phone %></p>
    </div>
    <div class="col-sm-12 col-lg-6" style="background-size: cover; background-repeat: no-repeat; background-image: url('<%= cl_image_path @shelter.photo.key, transformation: [{crop: "crop", width: 1000, height: 700}] %>')"></div>

  </div>  

<%# -------------------------- MAPA ----------------------------- %>
  <div class="map-show my-5">
    <div id="map"
      style="width: 100%; height: 600px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>   
  </div>

<%# ------- LINK PARA O MAPA GERAL QUE TEM TODOS OS ABRIGOS E RESTAURANTES -------- %> 
  <div class="d-flex justify-content-end my-3">    
    <%= link_to "Veja o mapa completo", maps_path, class: 'btn btn-success' %>
  </div>
  
</div>