<div class="container-sidebar">
  <div class="row">
  <%# SIDEBAR ------------------------------- %>
    <div class="col-1 sidebar">
      <nav class="main-menu sidebar-yellow">
        <%= render "shared/sidebar" %> 
      </nav>
    </div>
  <%# CONTENT ------------------------------- %>
    <div class="col-11">
  <%# ------------------------- TITLE ----------------------------- %>
      <div class="show-title mt-5">
        <h2><%= @shelter.name %><h2>
        <div class="d-flex justify-content-center">
          <div class="line-orange"></div>
        </div>
      </div>
  <%# ----------------------- INFO + IMG -------------------------- %>
      <div class="info-show row mt-2">
        <div class="description-show col-sm-12 col-lg-7" style="padding: 2vw;">
          <p><strong><%= @shelter.description %></strong></p>
          <p><strong>Open: </strong><%= @shelter.opening_hours %></p>
          <p><strong>Phone: </strong><%= @shelter.phone %></p>
          <p style="background-color: #FFC317; padding: 1px 3px;"><strong>Address: </strong><%= @shelter.address %></p>
          <p><strong>Official site: </strong><%= link_to "#{@shelter.link}", @shelter.link, target: :_blank %></p>

          <%= link_to 'Are you at GRU Airport and need help with your first steps? Click here!', shelter_map_path(@shelter.id), class: 'btn btn-primary w-100'  %>
        </div>
        <div class='col-sm-12 col-lg-5 d-flex justify-content-center align-items-center w-100' style="">
                    <img src="<%= cl_image_path @shelter.photo.key %>" style="max-height: 350px; max-width: 350px; padding: 20px;" alt="">
        </div>
      </div>  

  <%# -------------------------- MAPA ----------------------------- %>

      <div class="map-show my-4 d-flex justify-content-center">
        <div id="map"
          style="width: 100%; height: 520px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
          data-route='show'>      
        </div>   
      </div>

  <%# ------- LINK PARA O MAPA GERAL QUE TEM TODOS OS ABRIGOS E RESTAURANTES -------- %> 
      <div class="d-flex justify-content-end my-3">    
        <%= link_to "Veja o mapa completo", maps_path, class: 'btn btn-primary' %>
      </div>
      
    </div>
  </div>
</div>
