<%= simple_form_for(@chatroom) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-12 form-sigin-l">
        <%= f.input :name,
                    placeholder: "Group's name",
                    label: false %>
      </div>
    </div>
    <div class = 'row'>
      <div class='col-12'>
        <p class = 'mb-0'>Group picture</p>
        <%= f.input :photo, as: :file, 
                    label: false,
                    class: 'btn btn-outline-secondary btn-photo' %>
      </div>
  
      <div class='col-12'>
        <%= f.button :submit, "Create group", class: 'btn btn-outline-primary rounded w-100' %>
      </div>
    </div>
  </div>

<% end %>