
  <div class="banner-content-darklaw d-flex justify-content-center ">
    <div class="row law-row d-flex align-items-center">
      <div class='col-3 description-lawyer'>
        <%= cl_image_tag @lawyer.photo.key, transformation: [{width: 750, height: 750, 
                                                            gravity: "face", radius: "max", 
                                                            crop: "crop"}, {width: 200, crop: "scale"}
                                                          ], class: "avatar-law mb-2" %>
        <h5>★★★★★</h5>
      </div>
      <div class='col-9 description-lawyer'>
        <h4><%= @lawyer.name %></h4>
        <p><%= "OAB/SP: #{@lawyer.oab} " %></p>
        <p><%= "#{@lawyer.area} specialist" %></p>
        <h6><%= @lawyer.description %></h6>
        <p><%= "Address: #{@lawyer.address}" %></p>
      </div>
    </div>
  </div>


 <div class="info-show row">

      <div class="description-show col-sm-12 col-lg-6 ">
        <h4><%= @lawyer.name %></h4>
      </div>

    
    <div class="map-show my-5 col-sm-12 col-lg-6">
      <div id="map"
        style="width: 90%; height: 520px; box-shadow: none;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
        data-route='show'>
      </div>   
    </div>
  </div>

