<% if message.user == current_user %>
  <div class="message-to-right message-group-chat mb-2 mr-3">
  <%else%>
  <div class="message-to-left message-group-chat mb-2 ml-3">
<% end %>
    <div class="message-container ml-3" id="message-<%= message.id %>">
      <i class="author">
        <%= render "chatrooms/avatar/talking_user_container", talking_user: current_user %>
        <span class = 'nickname'><%= message.user.nickname %></span>
        <small class = 'chat-date-hour'><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
      </i>
      <p class = 'text-message mb-2'><%= message.content %></p>
    </div>
  </div>

            

            