<div class="row">
<%# ----------------------------------------------PROFILE---------------------------------------------- %>

  <div class="col-3 banner-profile-avatar d-flex justify-content-center align-items-center">
    <div class= "m-2">
      <div class="d-flex justify-content-center">
        <% if @profile.photo.present? %>
          <%= cl_image_tag @profile.photo.key, transformation: [
          {width: 550, height: 550, gravity: "face", radius: "max", crop: "crop"}, {width: 200, crop: "scale"}
          ], class: "avatar-large" %>
        <% else %>
          <%= image_tag "https://icon-library.com/images/default-profile-icon/default-profile-icon-16.jpg", class: 'avatar-large' %>
        <% end %>
      </div>

      <div class="text-center m-3 profile-name">
        <h5><%= @profile.first_name %> <%= @profile.last_name %></h5>
        <% if current_user == @profile %>
          <br><%= link_to "Tell more about yourself", new_profile_path, class: 'btn btn-outline-dark' %>
        <% else %>
          <%= link_to "Talk to #{@profile.first_name}", profiles_path(@profile), class: 'btn btn-outline-dark' %>
        <% end %>
      </div>
    </div>
  </div>

<%# ----------------------------------------------BADGES---------------------------------------------- %>

  <div class="col-1 banner-profile text-center">
    <% if @profile.gender.present? %>
      <% if @profile.gender == 'Woman' %>
      <br><%= cl_image_tag('https://res.cloudinary.com/dn6lyapiu/image/upload/v1615334630/HOLD%20MY%20HAND/woman_user_avatar_account_female_256px_j874k5.png', width: 70, height: 70) %>
      <% elsif @profile.gender == 'Men' %>
      <br><%= cl_image_tag('https://res.cloudinary.com/dn6lyapiu/image/upload/v1615335285/HOLD%20MY%20HAND/man_avatar_user_account_confirm_approve_complete_256px_b6lvp3.png', width: 70, height: 70) %>
      <% else %>
      <% end %>
    <% end %>
      <br><br><%= cl_image_tag('https://res.cloudinary.com/dn6lyapiu/image/upload/v1615335286/HOLD%20MY%20HAND/team_group_people_management_business_work_employees_256px_zxwnnm.png', width: 70, height: 70) %>
      <br><br><%= cl_image_tag('https://res.cloudinary.com/dn6lyapiu/image/upload/v1615335285/HOLD%20MY%20HAND/international_global_earth_conversation_chat_communication_256px_caumqa.png', width: 70, height: 70) %>

    <h1><br><i class="fas fa-certificate"></i></h1>
    <h1><br><i class="fas fa-certificate"></i></h1>
  </div>

<%# ----------------------------------------------INFOS------------------------------------------------ %>
  <div class="col-8 banner-profile-description d-flex align-items-center">

    <div class="row w-100">
      <div class="col-4">
        <div class="row m-3 icon-description">
          <% if current_user.origin.present? %>
            <div class="col-1 text-center">
              <h3><i class="fas fa-globe-africa"></i> </h3>
            </div>
            <div class="col-9">
              <h3><%= current_user.origin %></h3>
            </div>
          <% end %>
        </div>

        <div class="row m-3 icon-description">
          <% if current_user.language.present? %>
            <div class="col-1 text-center">
              <h3><i class="fas fa-language"></i></h3>
            </div>
            <div class="col-9">
              <h3><%= current_user.language %></h3>
            </div>
          <% end %>
        </div>

        <div class="row m-3 icon-description">
          <% if current_user.gender.present? %>
            <div class="col-1 text-center">
              <h3><i class="fas fa-venus-mars"></i></h3>
            </div>
            <div class="col-9">
              <h3><%= current_user.gender %></h3>
            </div>
          <% end %>
        </div>

        <div class="row m-3 icon-description">
          <% if @profile.current_address.present? %>
            <div class="col-1 text-center">
              <h3><i class="fas fa-map-pin"></i> </h3>
            </div>
            <div class="col-9">
              <h3><%= @profile.current_address %></h3>
            </div>
          <% end %>
        </div>

        <div class="row m-3 icon-description">
          <% if @profile.arrived.present? %>
            <div class="col-1 text-center">
              <h3><i class="fas fa-calendar-alt"></i></h3>
            </div>
            <div class="col-9">
              <h3><%= "Since #{@profile.arrived} in Brazil" %></h3>
            </div>
          <% end %>
        </div>
        

        <% if current_user == @profile %>
          <div class="row m-3 icon-description">
          </div>
        <% end %>
      </div>

<%#----------------------------------------------ABOUT-----------------------------------------  %>

      <div class="col-7">
        <div class="profile-name text-center">
          <h5>About</h5>
        </div>

        <div class="form-about w-100 mt-4 text-justify">
        <% if current_user == @profile %>
            <% if @profile.about.present? %>
              <%= @profile.about %>
            <% else %>
              <%= render "shared/form_about" %>
            <% end %>
          <% else %>
            <% if @profile.about.present? %>
              <%= @profile.about %>
            <% else %>
            <div class='text-center', style="color: gray; font-size: 18px; opacity: 0.5;">
            <h5><%= "This person didn't add information about herself yet! Send a message encouraging her to do this." %><br></h5>
            <h1 style="color: gray;"><i class="far fa-comments"></i></h1>
            </div>
            <% end %>
          <% end %>
        </div>
      </div>  
    
    
<%#----------------------------------------------FECHANDO DIVS-----------------------------------------  %>
    </div>
  </div>
</div>