<div class="container form-container my-5">
  <h2 class='text-center title-form'>Sign up</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                placeholder: 'Email',
                label: false,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <div class="row">
      <div class="col-6 form-sigin-l">
      <%= f.input :password,
                  required: true,
                  placeholder: 'Password',
                  label: false,
                  input_html: { autocomplete: "new-password" } %>
      </div>
      <div class="col-6 form-sigin-r">
        <%= f.input :password_confirmation,
                    required: true,
                    placeholder: 'Confirm password',
                    label: false,
                    input_html: { autocomplete: "new-password" } %>
      </div>
    </div>
    <div class="row">
      <div class="col-6 form-sigin-l">
        <%= f.input :first_name,
                    placeholder: 'First_name',
                    label: false %>
      </div>
      <div class="col-6 form-sigin-r">
        <%= f.input :last_name,
                    placeholder: 'Last_name',
                    label: false %>
      </div>
    </div>
    <%= f.input :nickname,
                placeholder: 'Nickname',
                label: false %>
    <%= f.input :origin,
                placeholder: 'Origin',
                label: false %>    
    <%= f.input :photo, as: :file, 
                placeholder: 'Profile Picture',
                input_html: { class: 'd-none' }, 
                label_html: { class: 'upload-photo'},
                label: 'Choose a profile photo' %>           
  </div>
  <hr>
  
  <%= f.button :submit, "Sign up", class: 'btn btn-success w-100' %>
  <%= link_to "Already have an account? Log in!", new_session_path(resource_name), class: 'btn cancel-btn w-100' %>
  
  <% end %>
  
<%#------------------------------ SIGN UP WITH FACEBOOK ------------------------------%>
  <hr>
  <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path, method: :post, class: 'btn btn-secondary btn-sm mt-3 w-100' %>
  
</div>