<div class="container my-5">
  <h2 class='text-center'>Sign up</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                placeholder: 'Email',
                label: false,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                placeholder: 'Password',
                label: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :password_confirmation,
                required: true,
                placeholder: 'Confirm password',
                label: false,
                input_html: { autocomplete: "new-password" } %>
    <%= f.input :first_name,
                placeholder: 'First_name',
                label: false %>
    <%= f.input :last_name,
                placeholder: 'Last_name',
                label: false %>
    <%= f.input :age,
                placeholder: 'Age',
                label: false %>
    <%= f.input :gender,
                placeholder: 'How would you want to be treated?',
                collection:User::GENDER,
                hint: ('How would you want to be treated?'),
                label: false %>
    <%= f.input :origin,
                placeholder: 'Origin',
                label: false %>
    <%= f.input :language,
                placeholder: 'Language',
                label: false %>    
    <%= f.input :current_address,
                placeholder: 'Current Address',
                label: false %>
    <%= f.input :photo, as: :file, 
                label: false,
                placeholder: 'Profile Picture' %>
  </div>
 
    <div class="row form-actions align-items-center mt-5">
      <div class='col-sm-12 col-lg-6 d-flex justify-content-end'>
        <%= f.button :submit, "Sign up", class: 'btn btn-primary btn-form' %>
      </div>
      <div class='col-sm-12 col-lg-6 d-flex justify-content-left'>      
        <%= link_to "Log in", new_session_path(resource_name), class: 'btn btn-primary btn-form' %>
      </div>
    </div>

  <% end %>

  
</div>