<div class="container mt-5">
  <h3><%= @education.language %></h3>
  <p><%= @education.openning_hours %></p>
  <p><%= @education.instituition %></p>
  <p><%= @education.address %></p>
  <p><%= @education.contact %></p>
</div>
