
<div class="row">
  <div class="col-3">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <% @chatrooms.each do |direct| %>
        <% direct_user = direct.chat_members.reject{|direct| direct.user == current_user}.first.user %>
      <a class="nav-link active" id="v-pills-<%= direct_user.nickname %>-tab" data-toggle="pill" href="#v-pills-<%= direct_user.nickname %>" role="tab" aria-controls="v-pills-<%= direct_user.nickname %>" aria-selected="true">
        <%= direct_user.nickname %>
      </a>
      <% end %>
    </div>
  </div>
  <div class="col-9">
    <div class="tab-content" id="v-pills-tabContent">
      <% @chatrooms.each do |direct| %>
        <% direct_user = direct.chat_members.reject{|direct| direct.user == current_user}.first.user %>
        <div class="tab-pane fade show active" id="v-pills-<%= direct_user.nickname %>" role="tabpanel" aria-labelledby="v-pills-<%= direct_user.nickname %>-tab">

          <div class="chat-container">
      <h1 class = 'mt-3' id = 'h1-chat-group'>Chat:<%= direct.name %></h1>
      <div id="messages" class = 'mb-3' data-chatroom-id="<%= direct.id %>">
        <% direct.messages.each do |message| %>
          <%= render 'messages/chatroom_message', message: message %>
        <% end %>
      </div>
      <% if direct.users.include? current_user %>
        <%= simple_form_for [ direct, @message ], remote: true do |f| %>
          <%= f.input :content,
                      label: false,
                      as: :text,
                      input_html: { 'rows': 3},
                      placeholder: "write your message here!" %>
          <%= f.submit "Send message", class: 'btn btn-success mt-3 mb-5 mr-3 btn-create send-message-chat' %>
        <% end %>
      <% else %>  
        <%= button_to 'Participar da conversa', chatroom_add_member_path(direct) %>
      <% end %>
    </div>

        </div>
      <% end %>

    </div>
  </div>
</div>