<div class="container d-flex justify-content-center row" id = 'big-container-directs'>
  <div class="col-7">
    <h1 class = 'mt-3 mb-1 ml-3' id = 'h1-direct'>
      <%other_user = @chatroom.users.reject{|user| user == current_user}.first%>
      <% if other_user.photo.present? %>
        <%= other_user.photo %>
      <% else %>
        <%= image_tag "https://icon-library.com/images/default-profile-icon/default-profile-icon-16.jpg", class: "avatar-message-direct", 'aria-haspopup': true, 'aria-expanded': false %>
      <% end %>
      <%= other_user.nickname %>
    </h1>
    <div id="messages" class = 'mb-3' data-chatroom-id="<%= @chatroom.id %>">
      <% @chatroom.messages.each do |message| %>
        <%= render 'messages/direct_message', message: message %>
      <% end %>
    </div>
    <%= render 'directs/forms/form', direct: @chatroom, message: @message %>
  </div>

  <div class="col-3 mt-3">
      <div>
      <%@chatrooms.each do |direct|%>
        <% direct_user = direct.chatroom.chat_members.reject{|direct| direct.user == current_user}.first.user %>
        <div>
          <% if direct_user.photo.present? %>
            <%= cl_image_tag current_user.photo.key, :transformation=>[
            {:width=>550, :height=>550, :gravity=>"face", :radius=>"max", :crop=>"crop"}, {:width=>200, :crop=>"scale"}
            ], class: "avatar-message-direct", 'aria-haspopup': true, 'aria-expanded': false %>
          <% else %>
            <%= image_tag "https://icon-library.com/images/default-profile-icon/default-profile-icon-16.jpg", class: "avatar-message-direct", 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>
          <%=link_to direct_path(direct) do %> 
            <%# change to person name %>
            <%= direct_user.nickname %>
          <%end%>
          <hr class = 'hr-direct'>
        </div>
      <%end%>
      </div>
  </div>

</div>