<div class="container-sidebar">
  <div class="row">
  <%# SIDEBAR ------------------------------- %>
    <div class="col-1 sidebar">
      <nav class="main-menu sidebar-orange">
        <%= render "shared/sidebar" %> 
      </nav>
    </div>
  <%# CONTENT ------------------------------- %>
    <div class="col-11">
      <div class="container d-flex justify-content-center row">
        
        <div class="col-2 mt-3 participants-group mb-3">
          <div class='all-participants-group'>
            <%@chatroom.users.each do |user|%>
              <div>
                <%=link_to direct_path(user) do %> 
                <span class='mr-2 d-flex justify-content-end'><%= render "chatrooms/avatar/talking_user", talking_user: user %></span>
                  <%#= user.nickname %>
                <%end%>

              </div>
            <%end%>
          </div>
        </div>

        <div class="col-7 d-flex justify-content-center ">
          <div class="chat-container">
            <h1 class = 'mt-3' id = 'h1-chat-group'>Chat:<%= @chatroom.name %></h1>
            <div id="messages" class = 'mb-3' data-chatroom-id="<%= @chatroom.id %>">
              <% @chatroom.messages.each do |message| %>
                <%= render 'messages/chatroom_message', message: message %>
              <% end %>
            </div>
            <% if @chatroom.users.include? current_user %>
              <%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
                <%= f.input :content,
                            label: false,
                            as: :text,
                            input_html: { 'rows': 3},
                            placeholder: "write your message here!" %>
                <%= f.submit "Send message", class: 'btn btn-success btn-sm w-100 mt-1 mb-5 mr-3' %>
              <% end %>
            <% else %>  
              <%= button_to 'Participar da conversa', chatroom_add_member_path(@chatroom) %>
            <% end %>
          </div>
        </div>

          <div class="col-3 mt-3">
          <h2 class = 'h2-chatroom text-center'> Other groups </h2>
          <hr class = 'hr-chatroom'>
          <%@chatrooms.each do |chatroom|%>
            <div class = 'chatroom-show-all-groups'>
              <% if chatroom.photo.present? %>
                <%= chatroom.photo.key %>
              <% else %>
                <%= image_tag "https://icon-library.com/images/default-profile-icon/default-profile-icon-16.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <% end %>
              <%= link_to chatroom_path(chatroom) do %> 
                <span class="ml-2"><%= chatroom.name %></span>
              <%end%>
            </div>
            <hr class = 'hr-chatroom'>
          <%end%>
        </div>
      </div>
    </div>
  </div>
</div>