<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
  <button class="btn" id="menu-toggle"><i class="fas fa-bars"></i></button>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <h2 id="logo-nav"><%= link_to "Hold My Hand", root_path, class: "navbar-brand" %></h2>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">

<%#---------------------------------ÃCONES DE IDIOMA-------------------------------------------------%>
  <div class = 'language-choice-container'>
    <ul class = 'language-choice-list'>
  
      <%= link_to root_path(locale: :en) do %>
        <%= cl_image_tag("https://res.cloudinary.com/dn6lyapiu/image/upload/v1614787101/united-states_mznig2.svg", 
                        width: 25, height: 25, crop: :thumb) %>
      <% end %>
      <%= link_to root_path(locale: :es) do %>
        <%= cl_image_tag("https://res.cloudinary.com/dn6lyapiu/image/upload/v1614787874/spain_tmtxoi.svg", 
                        width: 25, height: 25, crop: :thumb) %>
      <% end %>
        <%= link_to root_path(locale: :"pt-BR") do %>
        <%= cl_image_tag("https://res.cloudinary.com/dn6lyapiu/image/upload/v1614787871/brazil_ln0unu.svg", 
                        width: 25, height: 25, crop: :thumb) %>
      <% end %>
    </ul>
  </div>

<%#---------------------------------------------------AVATAR-DROPDOWN------------------------------------%>
      <% if user_signed_in? %>

      <div class = 'welcome-name d-flex justify-content-end align-items-center'>
        <p class= "user-nav text-right mr-2 nav-item ">
          <%= t '.welcome' %> <%= current_user.first_name %>
        </p>
      </div>


      <%end%>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <% if user_signed_in? %>
            <li class="nav-item dropdown">
              <%= render "shared/avatar", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <%= link_to profile_path(current_user), class: "dropdown-item" do %>
                  <%= t '.profile' %>
                <% end %>
                <%= link_to edit_user_registration_path, class: "dropdown-item" do %>
                  <%= t '.edit-registration' %>
                <% end %>
                <%= link_to destroy_user_session_path, method: :delete, class: "dropdown-item" do %>
                  <%= t '.logout' %>
                <% end %>
              </div>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </ul>
  </div>
</nav>
