        <nav class="main-menu">
        <div>
          <a class="logo" href="http://startific.com">
          </a>
        </div>

        <div class="scrollbar" id="style-1">
          <ul>

            <li>
              <%= link_to profile_path(current_user) do %>
                <i class="fa fa-user fa-lg"></i><span class="nav-text">Check your profile</span></a>
              <% end  %> 
            </li>         

            <li>
              <%= link_to shelters_path do %>
                <i class="fa fa-home fa-lg"></i><span class="nav-text">Find a shelter</span></a>
              <% end  %> 
            </li>

            <li>
              <%= link_to restaurants_path do %>
                <i class="fa fa-utensils fa-lg"></i><span class="nav-text">Find a restaurant</span></a>
              <% end  %> 
            </li>

            <li>
              <%= link_to maps_path do %>
                <i class="fa fa-map-marker-alt fa-lg"></i><span class="nav-text">Real-time map</span></a>
              <% end  %> 
            </li>

            <li>
              <%= link_to documents_path do %>
                <i class="fa fa-passport fa-lg"></i><span class="nav-text">Get your documents</span></a>
              <% end  %> 
            </li>

            <li>
              <%= link_to lawyers_path do %>
                <i class="fa fa-gavel fa-lg"></i><span class="nav-text">Find a lawyer</span></a>
              <% end  %> 
            </li>

            <li>
              <%= link_to root_path do %>
                <i class="fa fa-comments fa-lg"></i><span class="nav-text">Our community</span></a>
              <% end  %> 
            </li>
