
<div class="container ">
  <div class="text-center">
    <h1 class="title">Hold My Hand</h1>
    <h6 class='welcome'> <%= t('.sub-logo')%> </h6>
  </div>
  <div class="d-flex justify-content-center">
    <div class="m-5">
      <%= link_to "Crie sua conta", new_user_registration_path, class: 'btn btn-outline-warning rounded btn-home' %>
      <% if current_user.present? %>
        <%= link_to "Faça login", root_path, class: 'btn btn-outline-warning rounded btn-home' %>
      <% else %>
        <%= link_to "Faça login", new_user_session_path, class: 'btn btn-outline-warning rounded btn-home' %>
      <% end %>
    </div>
  </div>
  <div class ='link-lawyer text-center mb-3'>
    <%= link_to 'cadastre-se como um advogado', new_lawyer_path %>
  </div>

<%# POP-UP-------------------------------------------------------------------------------- %>
  <div class="pop-up">
    <div class="row title text-center">
      <div class="col-12">
        <h2>Hold My Hand</h2>
      </div>
      <div class="col-12">
        <h6>A São Paulo guide for refugees!</h6>
      </div>    
    </div>

    <div class="row box mt-3 " >
      <div class="col-3 d-flex align-items-center " >
        <%= link_to shelters_path do %>
          <i class="fas fa-home" ></i> 
        <% end %>
      </div>
      <div class="col-8 ">
        <h6>Find a place to stay!</h6>
      </div>    
    </div>

    <div class="row box mt-3">
      <div class="col-8 ">
        <h6>Find a place to eat!</h6>
      </div>    
      <div class="col-3 ">
        <%= link_to restaurants_path do %>
          <i class="fas fa-utensils"></i>
        <% end %>
      </div>
    </div>

    <div class="row box mt-3">
      <div class="col-3 ">
        <%= link_to  documents_path do %>
          <i class="fas fa-passport"></i>
        <% end %>
      </div>
      <div class="col-8 ">
        <h6>Which documents, and how you can get then!</h6>
      </div>    
    </div>

    <div class="row box mt-3">
      <div class="col-8 ">
        <h6>Meet others refugees in Brazil!</h6>
      </div>    
      <div class="col-3 ">
        <i class="fas fa-comments"></i>
      </div>
    </div>
  </div>
</div>
