<div class="banner">
  <div class="container">
<%# TITLE -------------------------- %>
    <div class="box-title">
      <h1 class="title">Hold My Hand</h1>
      <h5 class='welcome'> A São Paulo guide for refugees! </h5>
    </div>

<%# ICONS -------------------------- %>
    <div class="row d-flex justify-content-around ">
      <div class="col-4 text-center ">
        <%= link_to shelters_path do %>
          <i class="fas fa-home bg-icon" ></i> 
        <% end %>
        <h5 class="">Find a place to stay!</h5>
      </div> 

      <div class="col-4 text-center ">
        <%= link_to maps_path do %>
          <i class="fas fa-passport bg-icon" ></i> 
        <% end %>
        <h5 class="">MAP!</h5>
      </div> 

      <div class="col-4 text-center ">
        <%= link_to restaurants_path do %>
          <i class="fas fa-utensils bg-icon" ></i> 
        <% end %>
        <h5>Where to eat!</h5>
      </div> 

<%# LOGIN -------------------------- %>
    <div class="col-12 ">
      <div class="m-5 ">
        <%= link_to "Crie sua conta", new_user_registration_path, class: 'btn btn-secondary btn-w' %>
        <% if current_user.present? %>
          <%= link_to "Faça login", root_path, class: 'btn btn-secondary btn-w' %>
        <% else %>
          <%= link_to "Faça login", new_user_session_path, class: 'btn btn-secondary btn-w' %>
        <% end %>
      </div>
    </div>

<%# LAWYER ------------------------ %>
    <div class ='link-lawyer text-center mb-3'>
      <%= link_to 'cadastre-se como um advogado', new_lawyer_path %>
    </div>
  </div>
</div>

<%# MORE INFORMATIONS ABOUT ACCESS AFTER LOGIN ------------------------ %>
<%# COMMUNIT -------------------------- %>
<div class="banner-content-light d-flex justify-content-around">
  <div class="row d-flex justify-content-around align-content-center w-100 ">
    <div class="col-4 text-center ">
      <%= link_to shelters_path do %>
        <i class="fas fa-comments i-large"></i>
      <% end %>
    </div>
    <div class="col-8 d-flex align-content-center justify-content-around flex-wrap">
      <h1 class="">LOGIN TO ACCESS THE COMMUNIT</h1>
    </div>
  </div>
</div>

<%# DOCUMENTS -------------------------- %>
<div class="banner-content-darkness d-flex justify-content-around">
  <div class="row d-flex justify-content-around align-content-center w-100 ">
    <div class="col-4">
      <%= link_to new_user_session_path do %>
        <i class="fas fa-comments i-large"></i>
      <% end %>
    </div>
    <div class="col-8 d-flex align-content-center justify-content-around flex-wrap">
      <h1> LOGIN TO ACCESS THE COMMUNIT </h1>
    </div>
  </div>
</div>

<%# LAWYERS -------------------------- %>
<div class="banner-content-light d-flex justify-content-around">
  <div class="row d-flex justify-content-around align-content-center w-100 ">
    <div class="col-4 text-center ">
      <%= link_to shelters_path do %>
        <i class="fas fa-comments i-large"></i>
      <% end %>
    </div>
    <div class="col-8 d-flex align-content-center justify-content-around flex-wrap">
      <h1 class="">LOGIN TO ACCESS THE COMMUNIT</h1>
    </div>
  </div>
</div>

<%# POP-UP ------------------------ %>
<%# <%= render 'shared/pop_up' %>

<script>
  $(document).ready(function() {  
    $('#pop-up-home').modal("show")
    console.log("Ready!"); 
  });
</script>