<div class="container ">
  <div class="text-center">
    <h1 class="title">Hold My Hand</h1>
    <h6 class='welcome'> <%= t('.sub-logo')%> </h6>
  </div>
  <div class="d-flex justify-content-center">
    <div class="m-5">
      <%= link_to "Crie sua conta", new_user_registration_path, class: 'btn btn-outline-warning rounded btn-home' %>
      <% if current_user.present? %>
        <%= link_to "Faça login", root_path, class: 'btn btn-outline-warning rounded btn-home' %>
      <% else %>
        <%= link_to "Faça login", new_user_session_path, class: 'btn btn-outline-warning rounded btn-home' %>
      <% end %>
    </div>
  </div>
  <div class ='link-lawyer text-center mb-3'>
    <%= link_to 'cadastre-se como um advogado', new_lawyer_path %>
  </div>
  <%= render 'shared/pop_up' %>
</div>

<script>
  $(document).ready(function() {
    $('#exampleModal').modal("show")
    console.log("Ready!"); 
  });
</script>