<div class="row">
<%# SIDEBAR ------------------------------- %>
  <div class="col-1 sidebar">
    <nav class="main-menu sidebar-dark-blue">
      <%= render "shared/sidebar" %> 
    </nav>
  </div>
<%# CONTENT ------------------------------- %>
  <div class="col-10">
    <% @documents.each_with_index do |document, index| %>
      <% if index.even? %>
        <div class="banner-document-light banner-documents d-flex justify-content-center m-3">
          <div class="row d-flex align-items-center">
            <div class='col-md-12 col-lg-7 description-document  text-justify'>
              <h4><%= document.document_type %></h4>
              <p style="font-size: 14px"><%= document.description %></p>
              <p style="font-size: 14px"><strong>Required documents:</strong> <%= document.required_docs %></p>
              <span class = 'btn btn-secondary' ><%=link_to "Online apply", document.url_agency, style: "color: white"%></span></p>

              <p></p>
            </div>
            <div class='col-md-12 col-lg-5 description-document mb-4'>
              <%= cl_image_tag document.photo.key, transformation: [{width: 750, height: 750}
                                                                ], class: "document-img" %>
            </div>
          </div>
        </div>
      <% else %>
        <div class="banner-document-darkness banner-documents d-flex justify-content-center m-3">
          <div class="row d-flex align-items-center">
            <div class='col-md-12 col-lg-5 description-document mb-4'>
              <%= cl_image_tag document.photo.key, transformation: [{width: 750, height: 750}
                                                                ], class: "document-img" %>
            </div>
            <div class='col-md-12 col-lg-7 description-document  text-justify'>
              <h4><%= document.document_type %></h4>
              <p style="font-size: 14px"><%= document.description %></p>
              <p style="font-size: 14px"><strong>Required documents:</strong> <%= document.required_docs %></p>
              <span class = 'btn btn-secondary' ><%=link_to "Online apply", document.url_agency, style: "color: white"%></span></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
