<div class="container">
<%# ------------------------- TITLE ----------------------------- %>
  <div class="show-title my-5">
    <h2><%= @document.document_type %><h2>
  </div>
<%# ----------------------- INFO + IMG -------------------------- %>
  <div class="info-show row">
    <div class="description-show col-sm-12 col-lg-6 ">
      <p class = 'document-title'><span class = 'document-table-data'><%= @document.description%></span></p>
      <p class = 'document-title'> Required docs:  <span class = 'document-table-data'><%= @document.required_docs%></span></p>
      <p class = 'document-title'>Website: <span class = 'document-table-data'><%=link_to @document.url_agency, @document.url_agency%></span></p> 
    </div>
    <div class="col-sm-8 col-lg-5">
      <div class="image-document" style="height: 300px; border-radius: 10px; background-size: cover; background-repeat: no-repeat;
                                           background-image: url('<%= cl_image_path @document.photo.key,
                                           transformation: [{crop: "crop", width: 400, height: 300}] %>')">
      </div>
    </div>
  </div>

<%# -------------------------- BOTÃO VOLTAR  --------------------- %>
<%= link_to "Back to documents", documents_path, class: "btn btn-secondary btn-sm p-2" %>

<%# -------------------------- MAPA -----------------------------
  <div class="map-show my-5">
    <div id="map"
      style="width: 100%; height: 600px;"
      data-markers="<%= @markers.to_json %>
      <%# data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>
  <%# </div> %>


<%# ------- LINK PARA O MAPA GERAL QUE TEM TODOS OS ABRIGOS E SHELTERS -------- %> 
  <%# <div class="d-flex justify-content-end my-3">     %>
    <%# <%= link_to "Veja o mapa completo", maps_path, class: 'btn btn-success' %> 
  <%# </div>   %>
<%# </div> %>


      <%# <p class = 'document-title'>Adress: <span class = 'document-table-data'><%= @document.address%></span></p>
      <%# <p class = 'document-title'>Contact: <span class = 'document-table-data'><%= @document.contact%></span></p> 
      <%# <p class = 'document-title'>Opening Hours:  <span class = 'document-table-data'><%= @document.opening_hours%></span></p> 