<div class="container">

  <div class="card-category-show my-5" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @document.photo.attached? ? cl_image_path(@document.photo.key) : image_path('') %>)">
    <%= @document.document_type %>
  </div>

  <h3 class = 'document-title'>Public Agency:</h3>
  <p class = 'document-table-data'><%= @document.public_agency%></p>

  <h3 class = 'document-title'>Adress:</h3>
  <p class = 'document-table-data'><%= @document.address%></p>

  <h3 class = 'document-title'>Contact:</h3>
  <p class = 'document-table-data'><%= @document.contact%></p>

  <h3 class = 'document-title'>Opening Hours</h3>
  <p class = 'document-table-data'><%= @document.opening_hours%></p>

  <h3 class = 'document-title'> Required docs</h3>
  <p class = 'document-table-data'><%= @document.required_docs%></p>

  <h3 class = 'document-title'>Website</h3>
  <p class = 'document-table-data'><%=link_to @document.url_agency, @document.url_agency%></p>
</div>

