<div class="container mt-5">
  <h3><%= @school.language %></h3>
  <p><%= @school.openning_hours %></p>
  <p><%= @school.instituition %></p>
  <p><%= @school.address %></p>
  <p><%= @school.contact %></p>
  <p><%= @school.url_instituition %></p>
</div>
