<!DOCTYPE html>
<html>
  <head>
    <title>HoldMyHand</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <%= stylesheet_pack_tag 'application' %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  </head>

  <body>
    <div class="d-flex toggled" id="wrapper">
      <%= render 'shared/sidebar' %>
        <div id="page-content-wrapper">
          <%= render 'shared/navbar' %>
          <%= render 'shared/flashes' %>

          <div class="container-fluid"> 
              <%= yield %>
          </div>
        
        <%# FOOTER %>
        <%= render "shared/footer" %>
      </div>
    </div>

  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

  </body>
</html>
